<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication3.Properties.Settings.odbcConnectionString"
            connectionString="Dsn=odbc5;server=localhost;uid=root;pwd=root;database=stomatolog;port=3306"
            providerName="System.Data.Odbc" />
        <add name="WindowsFormsApplication3.Properties.Settings.mysqlConnectionString"
            connectionString="server=localhost;User Id=root;password=root;Persist Security Info=True;database=stomatolog"
            providerName="MySql.Data.MySqlClient" />
        <add name="WindowsFormsApplication3.Properties.Settings.odbcConnectionString1"
            connectionString="Dsn=ODBC SQL;description=1;uid=Piter;trusted_connection=Yes;app=Microsoft® Visual Studio® 2010;wsid=PITERPC;database=stomatolog"
            providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>